body, h1, h2, h3, h4, h5, h6, hr, p, button, input, textarea{ margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
button, input, select, textarea { font-size:100%; }
#banner{
    height:130px;
    width:100%;
    background-color: lightblue;
    text-align: center;
}
#banner h1{
    padding-top: 30px;
    font-size: 20pt;
    letter-spacing:2pt;
    /* color:whitesmoke; */
}
#banner p{
    text-align: right;
    font-size: smaller;
    padding-top: 30px;
    padding-right: 40px;
}
#container{
    margin-top: 50px;
    text-align: center;
}
.input-row{
    margin-top: 20px;
}
.inspector-input{
    height: 30px;
    width: 150px;
    border: grey 1px solid;
}
.inspector-input:focus,.inspector-select:focus{
    outline: lightskyblue 1px solid;
}
.inspector-select{
    margin-top: 3px;
    height: 32px;
    width: 152px;
    border: grey 1px solid;
}
label{
    color:#999;
}
button{
    margin-top: 20px;
    width: 150px;
    height:40px;
    background-color:#3f86e4;
    border: none;
    font-size: large;
    color:white;
    letter-spacing:3px;
    border-radius: 5px;
}