
/****************初始化*********************/
body, h1, h2, h3, h4, h5, h6, hr, p, button, input, textarea{ margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
button, input, select, textarea { font-size:100%; }
/********************************************************/
#banner{
    height:130px;
    width:100%;
    background-color: lightblue;
    text-align: center;
}
#banner h1{
    padding-top: 30px;
    font-size: 20pt;
    letter-spacing:2pt;
    /* color:whitesmoke; */
}
#banner p{
    text-align: right;
    font-size: smaller;
    padding-top: 30px;
    padding-right: 40px;
}
#button-container{
    margin-top: 80px;
    text-align: center;
}
.button-row{
    margin-top: 20px;;
}
.select-row{
    margin-top: 25px;
}
#applist{
    height: 32px;
    margin-top: 8px;
}
.confirm-row{
    margin-top: 3px;
}
#button-container p{
    font-size: small;
    color: dimgray;
}
button{
    margin-top: 8px;
    width: 150px;
    height:43px;
    background-color:#3f86e4;
    border: none;
    font-size: large;
    color:white;
    letter-spacing:3px;
    border-radius: 5px;
}
.restart-row{
    margin-top: 60px;
}
#restart {
    background-color:rgb(230, 62, 11);
}